section.error {
    background-color: #ff00003b;
    border-color: #f44336;
    flex-direction: row;
    align-items: center;
}
button.error {
    position: relative;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border-radius: 0.3em;
    right: 0px;
    background-color: #ff00003b;
}
svg.error {
    font-size: 2em;
}
.error {
    color: #f44336
}
button.error:hover {
    background-color: #f44336;
    color: #efefef8f;
}