button {
    padding: 1em;
    border-radius: 5em;
    margin: 10px;
    border-style: none;
    cursor: pointer;
}
input {
    border: none;
    outline: none;
    background-color: #1110;
    width: 100%;
}
