section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: solid 1px #e6e6e6;
    padding: 5px;
    border-radius: 5px;
    justify-content: space-around;
}
input.year-input {
    border: solid 1px #e6e6e6;
    width: 8em;
}
.more-panel {
    display: flex;
    color: #bbbbbb;
    justify-content: flex-end;
    align-items: flex-end;
}

.create-options-panel {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
button.work-day {
    background-color: #92d050;
    border: solid 1px #000;
    border-radius: 3px;
}

button.night {
    background-color: #00b0f0;
    border: solid 1px #000;
    border-radius: 3px;
}
button.empty {
    border: solid 1px #000;
    border-radius: 3px;
}
button.holiday {
    background-color: #e436b8;
    border: solid 1px #000;
    border-radius: 3px;
}
.holiday {
    background-color: #e436b8;
}
.graf {
    overflow-x: scroll;
}
button.active {
    border: solid 1px #66b1e7f7;
    box-shadow: 0px 0px 2px 2px #66b1e7f7;
}
section.schedule {
    display: flex;
    flex-direction: row;
    margin: 1em;
    border: solid 1px #e6e6e6;
    padding: 5px;
    border-radius: 5px;
    justify-content: space-around;
}
.previous {
    justify-content: start;
}
