header.tabs {
    background-color: #fff !important;
    min-height: 50px;
    display: flex;
    align-content: center;
    align-items: stretch;
}
.tab {
    background-color: #282c3498;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
  }
  .active.tab {
    padding: auto;
    background-color: #282c34;
    flex-grow: 1;
  }
label {
    border: solid 1px #ccc;
    color: #ccc;
    border-radius: 10px;
    font-size: 2em;
    display: flex;
    padding: 0px 12px;
    margin: 0.3em;
    width: 100%;
    height: 1em;
}
label.error {
  color: #f44336;
  border-color: #f44336;
  background-color: #f443366b;
}
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  .sign-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }